<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TruckTracling</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MaangerFinding</display-name>
    <servlet-name>MaangerFinding</servlet-name>
    <servlet-class>FindManager.MaangerFinding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaangerFinding</servlet-name>
    <url-pattern>/MaangerFinding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteManager</display-name>
    <servlet-name>DeleteManager</servlet-name>
    <servlet-class>Delete.DeleteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManager</servlet-name>
    <url-pattern>/DeleteManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TruckSearch</display-name>
    <servlet-name>TruckSearch</servlet-name>
    <servlet-class>SerachTruck.TruckSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TruckSearch</servlet-name>
    <url-pattern>/TruckSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecentlyInstalled</display-name>
    <servlet-name>RecentlyInstalled</servlet-name>
    <servlet-class>RecentlyInstalledTrucks.RecentlyInstalled</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentlyInstalled</servlet-name>
    <url-pattern>/RecentlyInstalled</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusOfTruck</display-name>
    <servlet-name>StatusOfTruck</servlet-name>
    <servlet-class>StatusofTrcuk.StatusOfTruck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusOfTruck</servlet-name>
    <url-pattern>/StatusOfTruck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatingstatus</display-name>
    <servlet-name>Updatingstatus</servlet-name>
    <servlet-class>updaatingstatus.Updatingstatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatingstatus</servlet-name>
    <url-pattern>/Updatingstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>services</display-name>
    <servlet-name>services</servlet-name>
    <servlet-class>Services.services</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TowardsHere</display-name>
    <servlet-name>TowardsHere</servlet-name>
    <servlet-class>towardshere.TowardsHere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TowardsHere</servlet-name>
    <url-pattern>/TowardsHere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>Contactus.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerContactDetils</display-name>
    <servlet-name>ManagerContactDetils</servlet-name>
    <servlet-class>MangerContact.ManagerContactDetils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerContactDetils</servlet-name>
    <url-pattern>/ManagerContactDetils</url-pattern>
  </servlet-mapping>
</web-app>